<%- include layout/header.ejs %>
<div class="mid">
<div><b><%=data.fname%></b>&nbsp;|&nbsp;<a href="/logout">Logout</a></div>
<h1>Add Todo List</h1>
<form action="save-todo" method="post">
<label>Job</label>
<textarea name="job" required></textarea>
<input type="submit" value="Add">
</form>
</div>
<%- include layout/footer.ejs %>
