<html>
<body>
<head>
<title><%=data.title%></title>
<style>
.mid{
display:block;
min-height:400px;
width:700px;
}
.small-div{
width:40%;
float:left;
padding:10px;
}
input,label{
display:block;
margin:10px 0;
}
.left{
border-right:1px solid #000;
}
table tr:first-child td{
	font-weight:bold;
	font-size:20px;
	border-bottom:1px solid #000;
	}
.footer{
	margin-top:50px;
	border-top:1px solid #000;
	}
</style>
<script type="text/javascript" src="js/jquery.js"></script>
</head>
